block content
  h1 Dante Tam
  footer
    p Hello, this is a Node/Express server, work in progress. One day, this will be my portfolio website.
    p For now, visit #[a(href="https://dantetam.github.io/") my current portfolio].
  img(src="/images/sf_panorama.jpg")
  br
  br
  p
    | #[a(href="https://github.com/dantetam" target="_blank") GitHub] &emsp;
    | #[a(href="https://dantetam.github.io/src/newprojects.html" target="_blank") Projects] &emsp;
    | #[a(href="./resume" target="_blank") Resume]
