h1 Twitter Sentiment Visualization
div(id="wrapper")
  p This is an endpoint to test the Tweet Sentiment visualization, for sentiment polarity and intensity, in d3.js rendered beautifully in the browser.
  br
  p(id="queryData")
div(id="chart")

script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js")
script(src="/js/lib/svgsave.js")

script.
  var data = !{sentimentData}; //Stringified JSON turned back into object
  var formattedData = [];
  
  //Set the text of the div "#queryData" depending on the data given by the server
  d3.select("#queryData").html("Number of visualized tweets: " + data.polarity.length);
  
  console.log(data);
  
  //Render the scatterplot with polarity on the x-axis and intensity on the y-axis.
  for (var i = 0; i < data.polarity.length; i++) {
    formattedData.push([data.polarity[i], data.intensity[i], data.sentenceTokens[i], data.properNounTokens[i]])
  }
  
  var svgId = "#chart";
  var totalWidth = $(document).width();
  var totalHeight = $(document).height();

  //var data = [[5,3], [10,17], [15,4], [2,8]];
   
  var margin = {top: 20, right: 15, bottom: 60, left: 60}, 
    width = totalWidth - margin.left - margin.right,
    height = totalHeight - margin.top - margin.bottom;
    
  //Get the full bounding box and extent of the data  
  //Expand to provide room for data on the edges
  var extentX = d3.extent(formattedData, function(d) { return d[0]; });
  var extentY = d3.extent(formattedData, function(d) { return d[1]; });
  var extendPastBoundsX = extentX[1] * 0.1, extendPastBoundsY = extentY[1] * 0.1;
  extentX[0] -= extendPastBoundsX; extentX[1] += extendPastBoundsX;
  extentY[0] -= extendPastBoundsY; extentY[1] += extendPastBoundsY;
  
  var x = d3.scale.linear()
            .domain(extentX)
            .range([ 0, width ]);
    
  var y = d3.scale.linear()
    	      .domain(extentY)
    	      .range([ height, 0 ]);
 
  var chart = d3.select(svgId)
    .append('svg:svg')
    .attr('width', width + margin.right + margin.left)
    .attr('height', height + margin.top + margin.bottom)
    .attr('class', 'chart');

  var main = chart.append('g')
  	.attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')
  	.attr('width', width)
  	.attr('height', height)
  	.attr('class', 'main');   
        
  // draw the x axis
  var xAxis = d3.svg.axis()
  	.scale(x)
  	.orient('bottom');

  main.append('g')
  	.attr('transform', 'translate(0,' + height + ')')
  	.attr('class', 'main axis date')
  	.call(xAxis);

  // draw the y axis
  var yAxis = d3.svg.axis()
  	.scale(y)
  	.orient('left');

  main.append('g')
  	.attr('transform', 'translate(0,0)')
  	.attr('class', 'main axis date')
  	.call(yAxis);

  var g = main.append("svg:g"); 
  
  //Create new selection svg groups, which contain the respective graphics for each point.
  var newGroups = g.selectAll("scatter-dots")
    .data(formattedData)
    .enter().append("g")
    .attr("transform", function (d,i) { 
      return "translate(" + x(d[0]) + "," + y(d[1]) + ")"; 
    });
    
  newGroups.append("circle")
    .attr("cx", 0)
    .attr("cy", 0)
    .attr("r", 4);
    
  newGroups.append("text")
    .style("font-size", "12px")
    .attr("x", function(d) { return 0; })
    .attr("y", function(d) { return 10; })
    .attr("dy", ".35em")
    .attr("text-anchor", "middle")
    .text(function(d) { return d[3]; })        
          
  // Set-up the export button; this uses the file svgsave.js, a utility library
  // for converting d3.js visualizations into usable image filess
  d3.select('#saveButton').on('click', function(){
      var svgString = getSVGString(svg.node());
      svgString2Image( svgString, 2*width, 2*height, 'png', save ); // passes Blob and filesize String to the callback

      function save( dataBlob, filesize ){
          saveAs( dataBlob, 'CensusVisual' + mode + '.png' ); // FileSaver.js function
      }
  });

          
          
          
          
          
          
          
