<!DOCTYPE html>

<!--
  _____          _   _ _______ ______   _______       __  __
 |  __ \   /\   | \ | |__   __|  ____| |__   __|/\   |  \/  |
 | |  | | /  \  |  \| |  | |  | |__       | |  /  \  | \  / |
 | |  | |/ /\ \ | . ` |  | |  |  __|      | | / /\ \ | |\/| |
 | |__| / ____ \| |\  |  | |  | |____     | |/ ____ \| |  | |
 |_____/_/    \_\_| \_|  |_|  |______|    |_/_/    \_\_|  |_|

For a true sample of my large, organized project code, please visit
https://github.com/dantetam

Send your questions to
dante.tam1@gmail.com

-->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="Dante Tam - Architect of both software and buildings, 4X strategy game dev, CS Berkeley F'17, graphics, 3D models.">
    <meta name="author" content="Dante Tam">
    <meta name="keywords" content="Dante Tam, UC Berkeley">
    <link rel="icon" href="./favicon.ico">

    <title>Dante Tam</title>

    <link rel="shortcut icon" href="/src/images/favicon.png" type="image/png">
  </head>

  <body>
    <!--
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-blue.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    -->

    <div class="container">

      <div class="intro">
        <h1>Dante Tam</h1>
        <hr style="height:5px;width:30%;margin:auto;border:none;color:#003399;background-color:#003399;margin-top: 10px;margin-bottom:10px;">
        <p class="lead">
          World Creator | Software Architect
				</p>
      </div>

      <br>
      <br>
      <br>
      <p>Hello, this is a full-stack mongo.db, express, node.js server for experimentation with async node.js, RESTful APIs, and MongoDB storage and querying.</p>

      <br>

      <a href="/twitter">Start up the Twitter server. /twitter</a> &emsp; <a href="/twitter/United_States">With topic parameter. /twitter/:topic</a> <br>
      <a href="/twitter/wordmap/Donald_Trump">Search a topic and dynamically deliver a word map visualization. /twitter/wordmap/:topic</a><br>
      <a href="/twitter/topicgroups">Search live tweets and group by topic associations. /twitter/topicgroups</p><br>

      <br>

      <a href="/twitterData">Search the tweet data. /twitterData</a> &emsp; <a href="/twitterData/Obama">With query parameter. /twitterData/:query</a> <br>
      <a href="/twitterData/recent">Search most recent tweets. /twitterData/recent</a><br>
      <a href="/twitterData/recentcluster">Search most recent tweets and use cluster approximation algorithm. /twitterData/recentcluster</a><br>
      <a href="/twitterData/recentmst">Search most recent tweets and use MST algorithm. /twitterData/recentmst</a><br>
      <a href="/twitterData/topicgroups">Better topic grouping algorithm (overlap). /twitterData/topicgroups</a><br>
      <a href="/twitterData/wordmap">Query a large amount of tweets and visualize their words. /twitterData/wordmap</a><br>
      <a href="/wordlookup/Obama/Obama">Analyze tweets for words after a chosen topic. /wordlookup/:searchTweetWord/:inspectWord</a><br>

      <br>

      <a href="/count">Get current database status. /count</a> &emsp; <br>
      <a href="/login">Test the login screen and database. /login</a><br>

      <br>

      <a href="https://github.com/dantetam/twitterServerAuth">GitHub repo</a><br>
      <a href="https://dantetam.github.io">Portfolio</a>
      <p>Status of server: </p>

    </div><!-- /.container -->

    <!-- Bootstrap core CSS -->
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="./assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./index.css" rel="stylesheet">


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="./assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="./dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="./assets/js/ie-emulation-modes-warning.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
      body,a {
        font-family: 'Roboto';
        font-size: 14px;
        width: 60%;
        margin: auto;
      }

      hr {
        border: none;
        height: 5px;
        color: #003399; /* old IE */
        background-color: #003399; /* Modern Browsers */
      }

      a {
        color: #003399 !important;
      }
    </style>

        <script>
         var longString =
         "\n"+
        "Dante Tam\n" +
        "\n" +
        "For a true sample of my large, organized project code, please visit\n" +
        "https://github.com/dantetam \n" +
        "\n" +
        "Send your questions to\n" +
        "dante.tam1@gmail.com \n";

        console.log(longString);
        </script>

    <!--
    <script>
    //var isIE = /*@cc_on!@*/false || !!document.documentMode;
    // Firefox 1.0+
    var isFirefox = typeof InstallTrigger !== 'undefined';
    // Chrome 1+
    var isChrome = !!window.chrome && !!window.chrome.webstore;
    if (!isFirefox && !isChrome) {
      $('#browser-warning').html('<p>This website is best viewed through modern HTML5 browsers like <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a> and <a href="https://www.google.com/chrome/browser/">Chrome</a>.</p><br><p>This enables more features I\'ve made.</p>');
    }
    else {
      $('#browser-warning').remove();
    }
    </script>
    -->

  </body>
</html>
